body {
    background-color: black;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p{
    color: white;
    text-align: center;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    font-size: 20px;
}

nav {
    color: grey;
}